:root {
    --primary-color: #97783f;
    --primary-hover-color: #97783f;
    --disabled-color: #97783f;
}

.botones-navegacion {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
  
.boton-navegacion {
    background-color: #97783f;
    color: #97783f;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    font-size: 20px;
}
  
.boton-navegacion:hover {
    background-color: #97783f;
}
  
.boton-navegacion:disabled {
    background-color: #97783f;
    cursor: not-allowed;
}
