.contenedor-nueva-atencion {
    width: 80%;
    margin: 0 auto;
    font-size: 1rem;
}

.contenedor-nueva-atencion .titulo {
    margin-bottom: 0;
}

.contenedor-campos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;

}

.contenedor-campos .campo>label {
    display: block;
    margin-bottom: 0.2rem;
}

.contenedor-campos .campo>input {
    width: 90%;
    height: 1.8rem;
    border-radius: 0.2rem;
    border-style: none;
    margin-bottom: 1rem;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}



.botones-navegacion {
    display: flex;
}

.botones-navegacion .boton-navegacion {
    height: 3rem;
    width: auto;
    font-size: 1.2em;
    border-radius: 0.2rem;
    border-style: none;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 2rem auto;
}

.botones-navegacion .boton-enviar{
    background-color: rgb(213, 21, 21);
}


.input-oscuro {
    background-color: #b9b9b9;
    padding: 5px;
}

.paciente-botones {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.paciente-botones button {
    width: 2rem;
    margin-left: 0.3rem;
}

.paciente-botones input {
    flex: 1 1;
}

.boton-buscar {
    background-image: url('imagenes/lupa.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.boton-nuevo-paciente {
    background-image: url('imagenes/agregar-usuario.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

