.drawer-sidebar {
  width: 300px;
  flex-shrink: 0;
}

.drawer-paper {
  width: 300px;
  box-sizing: border-box;
  border-right: 0px;
  background-color: #233044;
  color: #eeeeee;
}

.toolbar-sidebar {
  margin-bottom: 20px;
}

.stack-sidebar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.topbar {
  background-color: #fff;
  color: #000;
}

.list-item-button-hover:hover {
  background-color: #1e293a; /* valor anterior de colorConfigs.sidebar.hoverBg */
}

.list-item-button-active {
  background-color: #1e253a; /* valor anterior de colorConfigs.sidebar.activeBg */
}

.list-item-icon {
  color: #eeeeee; /* valor anterior de colorConfigs.sidebar.color */
}

.list-item-collapse-button-hover:hover {
  background-color: #1e293a; /* valor anterior de colorConfigs.sidebar.hoverBg */
}

.list-item-collapse-icon {
  color: #eeeeee; /* valor anterior de colorConfigs.sidebar.color */
}

.sidebar-toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  transition: left 0.3s ease;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
}

.topbar-app-bar {
  width: calc(100% - 300px); /* Basado en las dimensiones de la barra lateral especificadas anteriormente */
  margin-left: 300px;
  box-shadow: unset;
  background-color: #fff;  /* Tomado de colorConfigs.topbar.bg */
  color: #000;             /* Tomado de colorConfigs.topbar.color */
}

.main-layout-nav {
  flex-shrink: 0;
  transition: width 0.3s ease;
}

.main-layout-content {
  flex-grow: 1;
  padding: 16px;
  min-height: 100vh;
  transition: width 0.3s ease;
}

.page-wrapper {
  /* Tus estilos aquí, por ejemplo: */
  padding: 20px;
  background-color: #f5f5f5;
}

/* (El resto del código CSS de .sidebar permanece igual) */
