.topbar-app-bar {
  box-shadow: unset;
  background-color: #fff;
  color: #000;
  transition: margin-left 1s ease, width 1s ease;
  width: calc(100% - 300px);
  margin-left: 300px;
}

.topbar-closed {
  width: 100%;
  margin-left: 0px;
}

.main-layout-nav {
  flex-shrink: 0;
  transition: width 0.3s ease;
}

.main-layout-content {
  flex-grow: 1;
  padding: 16px;
  min-height: 100vh;
  transition: width 0.3s ease;
}

.page-wrapper {
  /* Tus estilos aquí, por ejemplo: */
  padding: 2rem;
  background-color: white;
}

/* (El resto del código CSS de .sidebar permanece igual) */
