.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Arial', sans-serif; /* Añadir una fuente por defecto */
}

.menu {
    width: 250px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombra para añadir profundidad */
    border-radius: 8px; /* Esquinas redondeadas para un aspecto más suave */
    overflow: hidden; /* Esconder hijos que sobrepasen el tamaño (en este caso por el border-radius) */
    background-color: #fff; /* Fondo blanco para el menú */
}

.hidden {
    transform: translateX(-100%);
}

.user-info {
    border-bottom: 2px solid #1976D2; /* Borde un poco más grueso para más énfasis */
    padding: 20px;
    text-align: center;
    background-color: #e3f2fd; /* Fondo claro relacionado con el color de borde */
}

.user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #1976D2; /* Borde para el avatar */
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para el avatar */
}

.modules {
    display: flex;
    flex-direction: column;
    padding: 10px; /* Espacio interno para los botones */
}

.modules button {
    padding: 10px;
    margin: 5px 0; /* Margen solo arriba y abajo para no afectar los lados */
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: #1976D2; /* Color base para los botones */
    color: #fff; /* Texto blanco para los botones */
    border-radius: 4px; /* Esquinas redondeadas para los botones */
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out; /* Transición suave al pasar el mouse */
}

.modules button:hover {
    background-color: #1565C0; /* Color un poco más oscuro al pasar el mouse */
    transform: scale(1.02); /* Efecto de "zoom" al pasar el mouse */
}